* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  position: relative;
  overflow: hidden;
}
.home {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url(./images/homepage.jpeg);
  object-fit: cover;
  object-position: 50% 10%;
}

nav {
  height: 10vh;
  width: 100vw;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4vw 0;
  z-index: 100;
}
nav>.menu{
  display: none;
}
nav > .logo {
  width: 10vw;
  height: 5vh;
}
.logo >a> img {
  height: 100%;
  width: 100%;
}
nav > .links-index {
  display: flex;
  gap: 5vw;
  text-transform: uppercase;
}
.links-index > a {
  text-decoration: none;
  color: #fff;
  font-size: 1.9vh;
  font-weight: 300;
  /* border: 1px solid #fff; */
  padding: 1vh 2vh;
  border-radius: 50px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
}
.links-index > a:hover {
  background-color: #d9c8854a;
}
nav > .cta-index > a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 1.5vh 4vh;
  border-radius: 50px;
  text-transform: uppercase;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}
nav > .cta-index > a:hover {
  background-color: #fff;
  color: #cab973;
}
.home > .hero {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}
.home > .hero > h1 {
  font-family: "Cormorant Unicase", serif;
  font-weight: 600;
  font-size: 6vh;
}
.home > .hero > h1:nth-last-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.about {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.about > .hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 4vh;
  z-index: 10;
}
.about > .hero > h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 5vh;
  text-transform: capitalize;
  color: #cab973;
}
.about > .hero > .cta > a {
  border: 1px solid #cab973;
  color: #cab973;
  padding: 1vh 3vh;
  border-radius: 50px;
  text-transform: capitalize;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  text-decoration: none;
  font-size: 2vh;
}
.about > .hero > .cta > a:hover {
  background-color: #cab973;
  color: #fff;
}
.about > .center-img {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 30vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about > .center-img > img {
  height: 100%;
  width: 25%;
  filter: blur(5px);
}
.about > .leaves1 {
  height: 30vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.about > .leaves1 > img {
  height: 100%;
  filter: blur(4px);
}
.about > .leaves1 > img:nth-last-child(1) {
  height: 100%;
  filter: blur(2px);
  transform: rotate(270deg);
}
.about > .leaves2 {
  height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
.about > .leaves2 > img {
  height: 100%;
  filter: blur(4px);
  transform: rotate(270deg);
}
.about > .leaves2 > img:nth-last-child(2) {
  height: 100%;
  filter: blur(2px);
  transform: rotate(0deg);
}
.description {
  height: 70vh;
  width: 100vw;
  background-color: #f5f2f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.description > .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10vh;
  height: 100%;
}
.description > .hero > .text {
  text-align: center;
  flex-direction: column;
  display: flex;
  gap: 1.5vh;
}
.description > .hero > .text > h1 {
  font-weight: 200;
  font-size: 5vh;
}
.description > .hero > .text > h6 {
  font-weight: 400;
  font-size: 2vh;
}
.description > .hero > .flexbox {
  display: flex;
  gap: 12vh;
  text-align: center;
  text-transform: capitalize;
}
.description > .hero > .flexbox > .inner > h1 {
  font-weight: 200;
  font-size: 5vh;
  font-family: "Poppins", sans-serif;
}
.description > .hero > .flexbox > .inner > h6 {
  font-weight: 200;
  font-size: 2vh;
  font-family: "Poppins", serif;
}
.products-index {
  height: 170vh;
  width: 100vw;
  position: relative;
  padding: 8vw 0vw;
}
.products-index > .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
}
.products-index > .heading > h1 {
  text-transform: capitalize;
  font-weight: 200;
  font-size: 5vh;
}
.products-index > .heading > h6 {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 2.5vh;
  color: #cab973;
}
.products-index > .grid {
  height: 120vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 3vw;
  gap: 2vw;
}
.products-index > .grid > .box {
  height: 55vh;
  width: 20vw;
}
.products-index > .grid > .box > .img {
  height: 70%;
  width: 100%;
  margin-bottom: 2vh;
  border-radius: 10px 10px;
  overflow: hidden;
  padding: 0 1vw;
}

.products-index > .grid > .box > .img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}
.products-index > .grid > .box > .img:hover img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.products-index > .grid > .box > .txt {
  display: flex;
  flex-direction: column;
  gap: 1.2vh;
  padding-left: 1vw;
}
.products-index > .grid > .box > .txt > h6 {
  text-transform: uppercase;
  font-size: 2vh;
  color: #cab973;
  font-weight: 400;
}
.products-index > .grid > .box > .txt > h1 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 2vh;
}
.products-index > .grid > .box > .txt > h5 {
  font-weight: 300;
  font-size: 2vh;
}
.products-index > .cta {
  margin-top: 2vw;
  transform: translateX(45%);
}
.products-index > .cta > a {
  border: 1px solid #cab973;
  color: #cab973;
  padding: 1vh 3vh;
  border-radius: 50px;
  text-transform: capitalize;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  text-decoration: none;
  font-size: 2vh;
  position: relative;
  background-color: transparent;
}
.cta > a::before {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #cab973;
  top: 100%;
  left: 0;
}
.products-index > .cta > a:hover {
  background-color: #cab973;
  color: #fff;
}
.contact {
  height: 50vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact > .container {
  height: 35vh;
  width: 80vw;
  background-image: url(./images/contact.png);
  object-fit: cover;
  object-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 2vw;
}
.contact > .container > h1 {
  font-weight: 300;
  font-size: 3vh;
}
.contact > .container > a {
  text-decoration: none;
  text-transform: capitalize;
  color: #cab973;
  font-size: 2vh;
  display: flex;
  align-items: center;
  gap: 5px;
}
.contact > .container > a > span > i {
  font-size: 2vh;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.contact > .container > a:hover span > i {
  padding-left: 0.5vw;
}
footer {
  height: 45vh;
  width: 100vw;
  background-color: #f4f2ee;
  display: flex;
  align-items: center;
  position: relative;
}
footer > .left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2vw;
  padding: 2vw 10vw;
}
footer > .right {
  height: 100%;
  width: 50%;
  padding: 3vw 1vw 3vw 9vw;
}

.left > .logo {
  width: 10vw;
  height: 5vh;
  cursor: pointer;
}
.logo > img {
  height: 100%;
  width: 100%;
}
.left > p {
  font-size: 1.5vh;
}
.right > .links {
  display: flex;
  gap: 5vw;
  text-transform: uppercase;
}
.right > .links > a {
  text-decoration: none;
  color: #000000a4;
  font-size: 2vh;
  font-weight: 500;
  /* border: 1px solid #fff; */
  padding: 1vh 2vh;
  border-radius: 50px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
  font-family: "Cormorant Unicase", sans-serif;
}
.links > a:hover {
  background-color: #d9c8854a;
}
.left > .social > i {
  font-size: 3vh;
  padding-right: 2vh;
  color: gray;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  cursor: pointer;
}
.left > .social > i:hover {
  color: #cab973;
}

/* Mobile view 425px */

/* header responsiveness */
@media (min-width: 425px) (max-width: 768px) {
  nav {
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw;
  }
  nav > .logo {
    height: 5vh;
    width: 30vw;
    /* position: absolute; */
    left: 10%;
  }
  nav > .links-index {
    display: none;
  }
  nav > .links-index > a {
  }
  nav > .cta-index {
    display: none;
  }
  nav > .cta-index > a {

  }
  nav>.menu-index {
    background-color: #fff;
    padding: 1.4vh 2vh;
    border-radius: 50%;
    display: inline-block;
  }
  .menu-index > i {
    font-size: 2.3vh;
  }
  .menu-index > .inner {
    display: none;
  }
}

/* about responsiveness */
@media (min-width: 425px)  (max-width: 768px){
  .about > .hero {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 2vh;
    z-index: 10;
  }
  .about > .hero > h1 {
    font-size: 4vh;
    margin-bottom: 5vw;
  }

  .about > .center-img {
    display: none;
  }
  .about > .leaves1 {
    height: 20vh;
    position: absolute;
    top: 20%;
  }

  .about > .leaves2 {
    height: 20vh;
    bottom: 20%;
  }
}

/* description responsiveness */
@media (min-width: 425px) (max-width: 768px){
    .description {
        height: 130vh;
        padding: 0 3vw;
      }
    .description > .hero > .flexbox {
        display: flex;
        gap: 0vh;
        text-align: center;
        text-transform: capitalize;
        flex-direction: column;
      }
}

/* product responsiveness */
@media (min-width: 425px) (max-width: 768px){
  .products-index {
    height: 470vh;
  }
.products-index>.grid{
  height: 80%;
}
  .products-index > .grid > .box {
    width: 80vw;
  }
  .products-index > .cta {
    transform: translateX(30%);
    margin-top: -4vw;
  }
}

/* contact responsiveness */
@media (min-width: 425px) (max-width: 768px){
  .contact{
    height: 60vh;
  }
  .contact > .container{
    padding: 0 6vw;
    margin-top: 30vw;
  }
}

/* footer responsiveness */
@media (min-width: 425px) (max-width: 768px){
  footer{
    flex-direction: column;
    padding: 3vw 2vw;
    height: 40vh;
  }
  footer>.left{
    width: 100%;
    gap: 8vw;
    padding: 1vw 3vw;
  }
  footer>.left>.logo{
    width: 20vw;
  }
  footer>.right{
    width: 100%;
    padding: 8vw 0vw;
  }
  footer>.right>.links{
    gap: 0;
  }

}

/* Ipad view */
/* header responsiveness */
@media ( min-width: 768px) and  (max-width: 1024px) {
  nav {
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw;
  }
  nav > .logo {
    height: 5vh;
    width: 20vw;
    /* position: absolute; */
    left: 10%;
  }
  nav > .links-index {
    display: none;
  }
  nav > .links-index > a {
  }
  nav > .cta-index {
    display: none;
  }
  nav > .cta-index > a {
  }
  nav>.menu-index {
    background-color: #fff;
    padding: 1.5vh 2vh;
    border-radius: 50%;
    display: inline-block;
  }
  .menu > i {
    font-size: 2.3vh;
  }
  .menu > .inner {
    display: none;
  }
}
/* about responsiveness */
@media ( min-width: 768px) and  (max-width: 1024px){
  .about > .hero {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 2vh;
    z-index: 10;
  }
  .about > .hero > h1 {
    font-size: 5vh;
    margin-top: -6vw;
    margin-bottom: 5vw;
    color: #908144;
  }

  .about > .center-img {
    /* display: none; */
  }
  .about > .center-img>img{
    width: 50%;
  }
  .about > .leaves1 {
    height: 25vh;
    position: absolute;
    top: 10%;
  }

  .about > .leaves2 {
    height: 25vh;
    bottom: 10%;
  }
}
/* description responsiveness */
@media ( min-width: 768px) and  (max-width: 1024px) {
  .description > .hero > .text {
    padding: 0 5vw;
  }
  .description > .hero > .flexbox {
    gap: 8vh;
  }
}
/* product responsiveness */
@media ( min-width: 768px) and  (max-width: 1024px) {
  .products-index {
    height: 250vh;
  }
  .products-index>.grid{
    height: 100%;
  }
  .products-index > .grid > .box {
    width: 45vw;
  }
  .products-index > .cta {
    transform: translateX(37%);
    margin-top: -2vw;
  }
}

/* contact responsiveness */
@media ( min-width: 768px) and  (max-width: 1024px){

.contact > .container {
height: 30vh;
width: 90vw;
margin-top: 15vw;
}
  .contact > .container{
    padding: 0 4vw;
  }
}

/* footer responsiveness */
@media ( min-width: 768px) and  (max-width: 1024px){
  footer{
    flex-direction: column;
    padding: 3vw 2vw;
    height: 45vh;
  }
  footer>.left{
    width: 100%;
    gap: 8vw;
    padding: 1vw 3vw;
  }
  footer>.left>.logo{
    width: 20vw;
  }
  footer>.right{
    width: 100%;
    padding: 8vw 0vw;
  }
  footer>.right>.links{
    gap: 0;
  }

}






/* about us */
nav {
  height: 10vh;
  width: 100vw;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4vw 0;
  z-index: 100;
  color: #000;
  /* background-color: #000; */
}
nav > .logo {
  width: 10vw;
  height: 5vh;
}
.logo >a> img {
  height: 100%;
  width: 100%;
}
nav > .links {
  display: flex;
  gap: 5vw;
  text-transform: uppercase;
}
.links > a {
  text-decoration: none;
  color: #000;
  font-size: 1.5vh;
  font-weight: 300;
  /* border: 1px solid #fff; */
  padding: 1vh 2vh;
  border-radius: 50px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
}
.links > a:hover {
  background-color: #d9c8854a;
}
nav > .cta > a {
  text-decoration: none;
  font-size: 1.5vh;
  color: #000;
  border: 1px solid #cab973;
  padding: 1.5vh 4vh;
  border-radius: 50px;
  text-transform: uppercase;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}
nav > .cta > a:hover {
  background-color: #cab973;
  color: #fff;
}
.wrapper>.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10vh;
  margin-top: 15vh;
  padding-bottom: 20vw;
}
.wrapper>.text > .heading {
  text-align: center;
}
.wrapper>.text > .heading > h1 {
  font-size: 5vh;
  font-weight: 300;
  font-family: "Cormorant Unicase", sans-serif;
  color: #cab973;
}
.wrapper>.text > .heading > h6 {
  font-size: 2.5vh;
  font-weight: 300;
}
.wrapper>.text > h1 {
  font-size: 5vh;
  font-weight: 300;
  text-align: center;
  font-family: "Cormorant Unicase", sans-serif;
}
footer {
  height: 45vh;
  width: 100vw;
  background-color: #f4f2ee;
  display: flex;
  align-items: center;
  position: relative;
}
footer > .left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2vw;
  padding: 2vw 10vw;
}
footer > .right {
  height: 100%;
  width: 50%;
  padding: 3vw 1vw 3vw 9vw;
}

.left > .logo {
  width: 10vw;
  height: 5vh;
  cursor: pointer;
}
.logo > img {
  height: 100%;
  width: 100%;
}
.left > p {
  font-size: 1.5vh;
}
.right > .links {
  display: flex;
  gap: 5vw;
  text-transform: uppercase;
}
.right > .links > a {
  text-decoration: none;
  color: #000000a4;
  font-size: 2vh;
  font-weight: 500;
  /* border: 1px solid #fff; */
  padding: 1vh 2vh;
  border-radius: 50px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
  font-family: "Cormorant Unicase", sans-serif;
}
.links > a:hover {
  background-color: #d9c8854a;
}
.left > .social > i {
  font-size: 3vh;
  padding-right: 2vh;
  color: gray;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  cursor: pointer;
}
.left > .social > i:hover {
  color: #cab973;
}

/* Header responsiveness */
@media (min-width: 425px) (max-width: 768px){
  nav {
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw;
  }
  nav > .logo {
    height: 5vh;
    width: 30vw;
    /* position: absolute; */
    left: 10%;
  }
  nav > .links {
    display: none;
  }
  nav > .links > a {
  }
  nav > .cta {
    display: none;
  }
  nav > .cta > a {
  }
  nav > .menu {
    background-color: #cab9735c;
    padding: 1.4vh 2vh;
    border-radius: 50%;
    display: inline-block;
  }
  .menu > i {
    font-size: 2.3vh;
  }
  .menu > .inner {
    display: none;
  }
}


/* Footer responsiveness */
@media (max-width: 425px) {
  footer {
    flex-direction: column;
    padding: 3vw 2vw;
    height: 40vh;
  }
  footer > .left {
    width: 100%;
    gap: 8vw;
    padding: 1vw 3vw;
  }
  footer > .left > .logo {
    width: 20vw;
  }
  footer > .right {
    width: 100%;
    padding: 8vw 0vw;
  }
  footer > .right > .links {
    gap: 0;
  }
}


/* Ipad view */
/* header responsiveness */
@media ( min-width: 768px) and  (max-width: 1024px) {
  nav {
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw;
  }
  nav > .logo {
    height: 5vh;
    width: 20vw;
    /* position: absolute; */
    left: 10%;
  }
  nav > .links {
    display: none;
  }
  nav > .links > a {
  }
  nav > .cta {
    display: none;
  }
  nav > .cta > a {
  }
  nav>.menu {
    background-color: #cab9735c;
    padding: 1.5vh 2vh;
    border-radius: 50%;
    display: inline-block;
  }
  .menu > i {
    font-size: 2.3vh;
  }
  .menu > .inner {
    display: none;
  }
}

/* Text responsiveness */
@media ( min-width: 768px) and  (max-width: 1024px){
  .text {
    padding: 0 5vw 20vw 5vw;
  }
}

/* footer responsiveness */
@media ( min-width: 768px) and  (max-width: 1024px){
  footer{
    flex-direction: column;
    padding: 3vw 2vw;
    height: 45vh;
  }
  footer>.left{
    width: 100%;
    gap: 8vw;
    padding: 1vw 3vw;
  }
  footer>.left>.logo{
    width: 20vw;
  }
  footer>.right{
    width: 100%;
    padding: 8vw 0vw;
  }
  footer>.right>.links{
    gap: 0;
  }

}




/* product css */

nav {
  height: 10vh;
  width: 100vw;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4vw 0;
  z-index: 100;
  color: #000;
  /* background-color: #000; */
}
nav > .logo {
  width: 10vw;
  height: 5vh;
}
.logo >a> img {
  height: 100%;
  width: 100%;
}
nav > .links {
  display: flex;
  gap: 5vw;
  text-transform: uppercase;
}
.links > a {
  text-decoration: none;
  color: #000;
  font-size: 1.5vh;
  font-weight: 300;
  /* border: 1px solid #fff; */
  padding: 1vh 2vh;
  border-radius: 50px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
}
.links > a:hover {
  background-color: #d9c8854a;
}
nav > .cta > a {
  text-decoration: none;
  font-size: 1.5vh;
  color: #000;
  border: 1px solid #cab973;
  padding: 1.5vh 4vh;
  border-radius: 50px;
  text-transform: uppercase;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}
nav > .cta > a:hover {
  background-color: #cab973;
  color: #fff;
}
.product-index{
  height: 220vh;
  width: 100vw;
  position: relative;
  padding: 8vw 0vw;
}
.product-index> .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
}
.product-index> .heading > h1 {
  text-transform: capitalize;
  font-weight: 200;
  font-size: 5vh;
}
.product-index> .heading > h6 {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 2.5vh;
  color: #cab973;
}
.product-index> .grid {
  height: 120vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 3vw;
}
.product-index> .grid > .box {
  height: 55vh;
  width: 20vw;
}
.product-index> .grid > .box > .img {
  height: 70%;
  width: 100%;
  margin-bottom: 2vh;
  border-radius: 10px 10px;
  overflow: hidden;
  padding: 0 1vw;
}

.product-index> .grid > .box > .img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}
.product-index> .grid > .box > .img:hover img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.product-index> .grid > .box > .txt {
  display: flex;
  flex-direction: column;
  gap: 1.2vh;
  padding-left: 1vw;
}
.product-index> .grid > .box > .txt > h6 {
  text-transform: uppercase;
  font-size: 2vh;
  color: #cab973;
  font-weight: 400;
}
.product-index> .grid > .box > .txt > h1 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 2vh;
}
.product-index> .grid > .box > .txt > h5 {
  font-weight: 300;
  font-size: 2vh;
}
.product-index> .cta {
  margin-top: 2vw;
  transform: translateX(45%);
}
.product-index> .cta > a {
  border: 1px solid #cab973;
  color: #cab973;
  padding: 1vh 3vh;
  border-radius: 50px;
  text-transform: capitalize;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  text-decoration: none;
  font-size: 2vh;
  position: relative;
  background-color: transparent;
}
.cta > a::before {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #cab973;
  top: 100%;
  left: 0;
}
.product-index > .cta > a:hover {
  background-color: #cab973;
  color: #fff;
}
footer {
  height: 45vh;
  width: 100vw;
  background-color: #f4f2ee;
  display: flex;
  align-items: center;
  position: relative;
}
footer > .left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2vw;
  padding: 2vw 10vw;
}
footer > .right {
  height: 100%;
  width: 50%;
  padding: 3vw 1vw 3vw 9vw;
}

.left > .logo {
  width: 10vw;
  height: 5vh;
  cursor: pointer;
}
.logo > img {
  height: 100%;
  width: 100%;
}
.left > p {
  font-size: 1.5vh;
}
.right > .links {
  display: flex;
  gap: 5vw;
  text-transform: uppercase;
}
.right > .links > a {
  text-decoration: none;
  color: #000000a4;
  font-size: 2vh;
  font-weight: 500;
  /* border: 1px solid #fff; */
  padding: 1vh 2vh;
  border-radius: 50px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
  font-family: "Cormorant Unicase", sans-serif;
}
.links > a:hover {
  background-color: #d9c8854a;
}
.left > .social > i {
  font-size: 3vh;
  padding-right: 2vh;
  color: gray;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  cursor: pointer;
}
.left > .social > i:hover {
  color: #cab973;
}

/* Header responsiveness */
@media (min-width: 425px) and (max-width: 768px),
       (min-width: 768px) and (max-width: 1024px)
        {
  nav {
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw;
  }
  
  nav > .logo {
    height: 5vh;
    width: calc(50vw - 8vw);
    left: 10%;
  }
  
  nav > .links-index {
    display: none;
  }
  
  nav > .cta-index,
  nav > .menu-index {
    display: none;
  }
  
  nav > .menu-index {
    background-color: #cab9735c;
    padding: 1.4vh 2vh;
    border-radius: 50%;
    display: inline-block;
  }
  
  .menu-index > i {
    font-size: 2.3vh;
  }
  
  .menu-index > .inner {
    display: none;
  }
}

/* Product responsiveness */
@media (min-width: 425px) and (max-width: 768px),
       /* (min-width: 768px) and (max-width: 1024px)  */
       {
  .product-p {
    height: 690vh; /* Adjust height as needed */
  }
  .products-index{
    height: 490vh;
  }
  .products-index > .grid > .box {
    width: 80vw; /* Adjust width as needed */
  }
  .product-p > .grid > .box {
    width: 80vw; /* Adjust width as needed */
  }
}

/* Footer responsiveness */
@media (min-width: 425px) and (max-width: 768px),
       (min-width: 768px) and (max-width: 1024px) {
  footer {
    flex-direction: column;
    padding: 3vw 2vw;
    height: 40vh; /* Adjust height as needed */
  }
  
  footer > .left,
  footer > .right {
    width: 100%;
    padding: 0;
  }
  
  footer > .left > .logo {
    width: 20vw; /* Adjust width as needed */
  }
  
  footer > .right > .links {
    gap: 0;
  }
}



/* contact us */


nav {
  height: 10vh;
  width: 100vw;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4vw 0;
  z-index: 100;
  color: #000;
  /* background-color: #000; */
}
nav > .logo {
  width: 10vw;
  height: 5vh;
}
.logo >a> img {
  height: 100%;
  width: 100%;
}
nav > .links {
  display: flex;
  gap: 5vw;
  text-transform: uppercase;
}
.links > a {
  text-decoration: none;
  color: #000;
  font-size: 1.5vh;
  font-weight: 300;
  /* border: 1px solid #fff; */
  padding: 1vh 2vh;
  border-radius: 50px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
}
.links > a:hover {
  background-color: #d9c8854a;
}
nav > .cta > a {
  text-decoration: none;
  font-size: 1.5vh;
  color: #000;
  border: 1px solid #cab973;
  padding: 1.5vh 4vh;
  border-radius: 50px;
  text-transform: uppercase;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}
nav > .cta > a:hover {
  background-color: #cab973;
  color: #fff;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}
.heading > h1 {
  text-transform: capitalize;
  font-weight: 200;
  font-size: 5vh;
}
.heading > h6 {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 2vh;
  color: #cab973;
}
.text-contact {
  height: 120vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10vh;
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}
.inner > h6 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2vh;
  color: #cab973;
}
.inner > h5 {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 2vh;
  text-transform: lowercase;
}
footer {
  height: 45vh;
  width: 100vw;
  background-color: #f4f2ee;
  display: flex;
  align-items: center;
  position: relative;
}
footer > .left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2vw;
  padding: 2vw 10vw;
}
footer > .right {
  height: 100%;
  width: 50%;
  padding: 3vw 1vw 3vw 9vw;
}

.left > .logo {
  width: 10vw;
  height: 5vh;
  cursor: pointer;
}
.logo > img {
  height: 100%;
  width: 100%;
}
.left > p {
  font-size: 1.5vh;
}
.right > .links {
  display: flex;
  gap: 5vw;
  text-transform: uppercase;
}
.right > .links > a {
  text-decoration: none;
  color: #000000a4;
  font-size: 2vh;
  font-weight: 500;
  /* border: 1px solid #fff; */
  padding: 1vh 2vh;
  border-radius: 50px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
  font-family: "Cormorant Unicase", sans-serif;
}
.links > a:hover {
  background-color: #d9c8854a;
}
.left > .social > i {
  font-size: 3vh;
  padding-right: 2vh;
  color: gray;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  cursor: pointer;
}
.left > .social > i:hover {
  color: #cab973;
}

/* Navbar Responsiveness */

@media (min-width: 425px) (max-width: 768px) {
  nav {
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw;
  }
  nav > .logo {
    height: 5vh;
    width: 30vw;
    /* position: absolute; */
    left: 10%;
  }
  nav > .links {
    display: none;
  }
  nav > .links > a {
  }
  nav > .cta {
    display: none;
  }
  nav > .cta > a {
  }
  nav > .menu {
    background-color: #cab9735c;
    padding: 1.4vh 2vh;
    border-radius: 50%;
    display: inline-block;
  }
  .menu > i {
    font-size: 2.3vh;
  }
  .menu > .inner {
    display: none;
  }
}

/*Footer responsiveness  */
@media (max-width: 425px) {
  footer {
    flex-direction: column;
    padding: 3vw 2vw;
    height: 40vh;
  }
  footer > .left {
    width: 100%;
    gap: 8vw;
    padding: 1vw 3vw;
  }
  footer > .left > .logo {
    width: 20vw;
  }
  footer > .right {
    width: 100%;
    padding: 8vw 0vw;
  }
  footer > .right > .links {
    gap: 0;
  }
}

/* Ipad view */
/* header responsiveness */
@media ( min-width: 768px) and  (max-width: 1024px) {
  nav {
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw;
  }
  nav > .logo {
    height: 5vh;
    width: 20vw;
    /* position: absolute; */
    left: 10%;
  }
  nav > .links {
    display: none;
  }
  nav > .links > a {
  }
  nav > .cta {
    display: none;
  }
  nav > .cta > a {
  }
  nav > .menu {
    background-color: #cab9735c;
    padding: 1.5vh 2vh;
    border-radius: 50%;
    display: inline-block;
  }
  .menu > i {
    font-size: 2.3vh;
  }
  .menu > .inner {
    display: none;
  }
}

/* footer responsiveness */
@media ( min-width: 768px) and  (max-width: 1024px){
  footer{
    flex-direction: column;
    padding: 3vw 2vw;
    height: 45vh;
  }
  footer>.left{
    width: 100%;
    gap: 8vw;
    padding: 1vw 3vw;
  }
  footer>.left>.logo{
    width: 20vw;
  }
  footer>.right{
    width: 100%;
    padding: 8vw 0vw;
  }
  footer>.right>.links{
    gap: 0;
  }

}